@import "tailwindcss";

@theme {
  --color-accent: #ff1700;
  --color-accent-dark: #930000;
  --color-accent-light: #f19e9d;
  --color-accent-lighter: #ffb3b3;
  --color-accent-opacity: #ff8b8b;

  --color-bg: #ef1a1a;
  --color-bg-dark: #ff881b;
  --color-bg-light: rgb(251 251 251);

  --color-font: #000000;
  --color-gray: #d1d1d1;
  --color-gray-light: #f4f4f4;
  --color-gray-dark: #5c5c5c;
  --color-error: rgb(231 0 0);

  --text-2xs: 1rem;
  --text-xs: 1.2rem;
  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-lg: 2.3rem;
  --text-lg-plus: 2.8rem;
  --text-xl: 4rem;
  --text-2xl: clamp(4rem, 10vw, 10rem);
  --text-3xl: 11rem;

  --spacing-sm: 2rem;
  --spacing-md: 3.2rem;
  --spacing-lg: 5rem;

  --radius-sm: 1rem;
  --radius-md: 1.8rem;
  --radius-lg: 3.5rem;

  --shadow-default: 0 0.4rem 1.2rem rgb(0 0 0 /0.1);

  --breakpoint-sm: 500px;
  --breakpoint-md: 750px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1200px;

  --animate-toast-in: toast-in 0.3s ease-out forwards;
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

:root {
  --max-width: 1322px;
}

@media (min-width: 900px) {
  :root {
    --text-lg-plus: 3.5rem;
    --text-xl: 4.7rem;
    --text-3xl: 12rem;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--text-base);
  color: var(--color-font);
  font-family: var(--font-inter);
}

h1,
h2 {
  font-family: "Haettenschweiler", "Arial Narrow", sans-serif;
  font-weight: 900;
  line-height: 1;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: 2rem;
}

.container-sm {
  width: 100%;
  max-width: 900px;
  margin-inline: auto;
  padding-inline: 2rem;
}

.btn-primary {
  @apply border border-white border-2 bg-accent font-bold px-4 md:px-12 py-5 text-white hover:!bg-white hover:text-accent;
}

.btn-primary-empty {
  @apply border border-font bg-white border-2 font-bold px-12 py-5 hover:!bg-font hover:text-white;
}
